{%extends "layout.html"%}


{% block headline %}<h2>Ravintolan luonti</h2>{% endblock %}
{% block content %}

  
    <h2>Luo uusi ravintola syöttämällä tiedot!</h2>
    <form action="/create/restaurant" method="POST" onSubmit="return checkRestaurant(this)">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <p>Nimi:<br>
    <input type="text" name="name"></input>
    <br>
    <p>Kuvaus:</p>
    <textarea type="text" name="description"></textarea>
    <p>Osoite:<br>
    <input type="text" name="address"></input>
    <br>
    <p>Aukioloajat:<br>

    <table>
      
      <tr><th>Maanantai</th><td>Aukeaa:<input placeholder="None" type="time" name="mondayOpen" ></input>  Sulkeutuu:<input placeholder="None"  type="time" name="mondayClose"></input></td></tr>
      <tr><th>Tiistai</th><td>Aukeaa:<input placeholder="None" type="time" name="tuesdayOpen"></input>  Sulkeutuu:<input type="time"  placeholder="None" name="tuesdayClose"></input></td></tr>
      <tr><th>Keskiviikko</th><td>Aukeaa:<input placeholder="None"  type="time" name="wednesdayOpen"></input>  Sulkeutuu:<input  placeholder="None" type="time"  name="wednesdayClose"></input></td></tr>
      <tr><th>Torstai</th><td>Aukeaa:<input placeholder="None" type="time" name="thursdayOpen"></input>  Sulkeutuu:<input placeholder="None"  type="time" name="thursdayClose"></input></td></tr>
      <tr><th>Perjantai</th><td>Aukeaa:<input placeholder="None" type="time" name="fridayOpen"></input>  Sulkeutuu:<input placeholder="None"  type="time" name="fridayClose"></input></td></tr>
      <tr><th>Lauantai</th><td>Aukeaa:<input placeholder="None"  type="time" name="saturdayOpen"></input>  Sulkeutuu:<input placeholder="None"  type="time" name="saturdayClose"></input></td></tr>
      <tr><th>Sunnuntai</th><td>Aukeaa:<input placeholder="None" type="time" name="sundayOpen"></input>  Sulkeutuu:<input  placeholder="None" type="time" name="sundayClose"></input></td></tr>

      </table> 

    {% if session.is_admin== true%}
    <p>Genret (erotellaan pilkulla, korkeintaan 5):<br>
      <input type="text" name="genre"></input>
    {% endif %}
    <br>
    <input type="submit">

    </form>


    <script>
      function check(form) {
          if (form.name.value.length >= 16 || form.name.value.length <= 2) {
              alert("Käyttäjätunnuksen tulee olla 4-16 merkkiä pitkä");
              return false;
          }
          if (form.description.value.length < 8) {
              alert("Kuvauksen tulee sisältää ainakin 8 merkkiä")
              return false;
          }

  
          return true;
      }
      </script>

{% endblock %}