{% extends "layout.html" %}

{% block headline %}<h2>Kirjautuminen</h2>{% endblock %}

{% block content %}


<form action="/login" method="POST" onsubmit="return check(this)">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<a href="/create">Luo uusi käyttäjä</a>


<script>
  function check(form) {
    console.log(!form.passwordmatch(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$/))
      if (form.username.value.length >= 16 || form.username.value.length <= 4) {
          alert("Käyttäjätunnuksen tulee olla 4-16 merkkiä pitkä");
          return false;
      }
      if (form.password.value.length < 8 || !form.password.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$/)) {
          alert("Salasanan tulee olla vähintään 8 merkkiä pitkä sekä sen pitää sisältää 1 pieni ja iso kirjain sekä yksi numero");
          return false;
      }

      return true;
  }
  </script>


{% endblock %}