{%extends "layout.html"%}


{% block headline %}<h2>Ravintolat</h2>{% endblock %}
{% block content %}
<hr>
<form method="POST">
  Etsi ravintolaa: <input type="text" name="restaurant_query"></input>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

  <input type="submit" value="Etsi"/>
</form>
  {% if session.is_admin %}<p><a href="/create/restaurant">Luo uusi ravintola</a></p> 
  {% else %}
  <p><a href="/create/restaurant">Luo uusi ravintolapyyntö</a></p> 
  {% endif %}

  <h2>Ravintolat:</h2>
  <ul>
    {% for restaurant in restaurants %}
    <li key="${restaurant.name}">
      <a href='/restaurants/{{restaurant.id}}'>{{restaurant.name}}</a>
      {%if searched%}<p>{{restaurant.description}}</p> {%endif%}
    </li> 
    {% endfor%}
    </ul>
  

<h2>Tykätyt ravintolat:</h2>
<ul>
  {% for restaurant in favourited_restaurants %}
  <li key="${restaurant.name}">
    <a href="/restaurants/{{restaurant.id}}">{{restaurant.name}}</a>
  </li> 
  {% endfor%}
  </ul>


{% endblock %}

favouriteRestaurants