{%extends "layout.html"%}


{% block headline %}<h2 class="default-title">Toivotut ravintolat:</h2>{% endblock %}
{% block content %}
<div class="request-row">
  <div class="col-md-12">
    <div class="scrollable-column list-group " id="restaurant_descriptions">
      {% for restaurant in restaurants %}
      <div class="card h-100 list-group-item request-cards">
        <div class="card-body">
          <h5 class="card-title"> 
           {% if session.is_admin %} 
            <a href='/restaurants/{{restaurant.id}}/request'>{{restaurant.name}}</a>
            {%else %}
            <p class="info">{{restaurant.name}}</p>

            {% endif %}
          </h5>
          <h5 class="">{{restaurant.requested}} this</h5>
          <p class="card-text text-truncate" id="{{restaurant.name+'_description'}}">{{restaurant.description}})</p>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

