{% extends "layout.html" %}
{% block title %}Ravintolat{% endblock %}


{% block headline %}
<h2 class="text-center">Ravintolat</h2>
<hr>
{% endblock %}

{% block content %}
<div class="container">

  <form method="POST" class="form-inline mb-4">
    <label for="restaurant_query" class="mr-2">Etsi ravintolaa:</label>
    <input type="text" id="restaurant_query" name="restaurant_query" class="form-control mr-2">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" class="btn btn-primary" value="Etsi">
  </form>

  {% if session.is_admin %}
  <p><a href="/create/restaurant" class="btn btn-success">Luo uusi ravintola</a></p>
  {% else %}
  <p><a href="/create/restaurant" class="btn btn-warning">Luo uusi ravintolapyyntö</a></p>
  {% endif %}

  <div class="row">
    <div class="col-md-6">
      <h3 class="text-info">Ravintolat:</h3>
      <div class="scrollable-column">
        <!-- Restaurant List -->
        {% for restaurant in restaurants %}
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a href='/restaurants/{{restaurant.id}}'>{{restaurant.name}}</a>
            </h5>
            {% if restaurant.average_rating %}
            <h6 class="card-text">Arvosana: {{restaurant.average_rating}}</h6>
            {% endif %}
            <p class="card-text">{{restaurant.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-6">
      <h3 class="text-info">Tykätyt Ravintolat:</h3>
      <div class="scrollable-column">
        <!-- Favorited Restaurant List -->
        {% for restaurant in favourited_restaurants %}
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/restaurants/{{restaurant.id}}">{{restaurant.name}}</a>
            </h5>
            {% if restaurant.average_rating %}
            <h6 class="card-text">Arvosana: {{restaurant.average_rating}}</h6>
            {% endif %}
            <p class="card-text">{{restaurant.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
