{% extends "layout.html" %}

{% block headline %}<h2>Ravintolan muokkaus</h2>{% endblock %}
{% block content %}
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

<h3>Muokkaa ravintolan tietoja!</h3>
<form action="/edit/restaurants/{{restaurant.id}}" method="POST" onSubmit="return checkRestaurant(this)">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

  <p>Nimi:<br>
  <input type="text" name="name" value="{{ restaurant.name }}"></input>
  <br>
  
  <p>Kuvaus:</p>
  <textarea type="text" name="description">{{ restaurant.description }}</textarea>
  
  <p>Osoite:<br>
  <input type="text" name="address" value="{{ restaurant.address }}"></input>
  <br>
  
  <p>Aukioloajat:<br>
  <table>
    <tr><th>Maanantai</th>
      <td>Aukeaa: <input type="time" name="monday_open" value="{{ restaurant.monday_open }}"> </input>  
         Sulkeutuu: <input type="time" name="monday_close" value="{{ restaurant.monday_close }}"></input></td></tr>
      
    <tr><th>Tiistai</th>
      <td>Aukeaa: <input type="time" name="tuesday_open" value="{{ restaurant.tuesday_open }}"></input>  
         Sulkeutuu: <input type="time" name="tuesday_close" value="{{ restaurant.tuesday_close }}"></input></td></tr>
      
    <tr><th>Keskiviikko</th>
      <td>Aukeaa: <input type="time" name="wednesday_open" value="{{ restaurant.wednesday_open }}"></input>  
         Sulkeutuu: <input type="time" name="wednesday_close" value="{{ restaurant.wednesday_close }}"></input></td></tr>
    
    <tr><th>Torstai</th>
      <td>Aukeaa: <input type="time" name="thursday_open" value="{{ restaurant.thursday_open }}"></input>  
         Sulkeutuu: <input type="time" name="thursday_close" value="{{ restaurant.thursday_close }}"></input></td></tr>
      
    <tr><th>Perjantai</th>
      <td>Aukeaa: <input type="time" name="friday_open" value="{{ restaurant.friday_open }}"></input>  
         Sulkeutuu: <input type="time" name="friday_close" value="{{ restaurant.friday_close }}"></input></td></tr>
      
    <tr><th>Lauantai</th>
      <td>Aukeaa: <input type="time" name="saturday_open" value="{{ restaurant.saturday_open }}"></input>  
         Sulkeutuu: <input type="time" name="saturday_close" value="{{ restaurant.saturday_close }}"></input></td></tr>
      
    <tr><th>Sunnuntai</th>
      <td>Aukeaa: <input type="time" name="sunday_open" value="{{ restaurant.sunday_open }}"></input>  
         Sulkeutuu: <input type="time" name="sunday_close" value="{{ restaurant.sunday_close }}"></input></td></tr>
  </table>

  
  <p>Genret (erotellaan pilkulla, korkeintaan 5):<br>
    <input type="text" name="genre" value="{{ restaurant.genre }}"></input>

  <br>
  <input type="submit" value="Tallenna">

</form>

<script>
  function check(form) {
    if (form.name.value.length >= 16 || form.name.value.length <= 2) {
      alert("Ravintolan nimen tulee olla 4-16 merkkiä pitkä");
      return false;
    }
    if (form.description.value.length < 8) {
      alert("Kuvauksen tulee sisältää ainakin 8 merkkiä");
      return false;
    }
    return true;
  }
</script>

{% endblock %}
