{% extends "layout.html" %}

{% block headline %}<h2 class="default-title">Ravintolan hyväksyntä</h2>{% endblock %}
{% block content %}
<div class="container">
<div class="form-group-creation">
  <h2 class="info subtitle">Muokkaa ravintolan tietoja!</h2>

  <form action="/restaurants/{{restaurant.id}}/request" method="POST" onSubmit="return checkRestaurant(this)">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

      <div class="form-group creation">
          <label for="name">Nimi:</label>
          <input type="text" name="name" class="form-control" id="name" value="{{ restaurant.name }}">
      </div>

      <div class="form-group creation description">
          <label for="description">Kuvaus:</label>
          <textarea name="description" class="form-control description" id="description">{{ restaurant.description }}</textarea>
      </div>

      <div class="form-group creation">
          <label for="address">Osoite:</label>
          <input type="text" name="address" class="form-control" id="address" value="{{ restaurant.address }}">
      </div>

      <label for="dates">Aukioloajat:</label>
      <div class="form-group">
          <table id="dates" class="table table-bordered  hours-open">
              <tr>
                  <th class="info">Maanantai</th>
                  <td class="info">
                      Aukeaa: <input type="time" name="monday_open" class="form-control d-inline" value="{{ restaurant.monday_open }}">
                      Sulkeutuu: <input type="time" name="monday_close" class="form-control d-inline" value="{{ restaurant.monday_close }}">
                  </td>
              </tr>
              <tr>
                  <th class="info">Tiistai</th>
                  <td class="info">
                      Aukeaa: <input type="time" name="tuesday_open" class="form-control d-inline" value="{{ restaurant.tuesday_open }}">
                      Sulkeutuu: <input type="time" name="tuesday_close" class="form-control d-inline" value="{{ restaurant.tuesday_close }}">
                  </td>
              </tr>
              <tr>
                  <th class="info">Keskiviikko</th>
                  <td class="info">
                      Aukeaa: <input type="time" name="wednesday_open" class="form-control d-inline" value="{{ restaurant.wednesday_open }}">
                      Sulkeutuu: <input type="time" name="wednesday_close" class="form-control d-inline" value="{{ restaurant.wednesday_close }}">
                  </td>
              </tr>
              <tr>
                  <th class="info">Torstai</th>
                  <td class="info">
                      Aukeaa: <input type="time" name="thursday_open" class="form-control d-inline" value="{{ restaurant.thursday_open }}">
                      Sulkeutuu: <input type="time" name="thursday_close" class="form-control d-inline" value="{{ restaurant.thursday_close }}">
                  </td>
              </tr>
              <tr>
                  <th class="info">Perjantai</th>
                  <td class="info">
                      Aukeaa: <input type="time" name="friday_open" class="form-control d-inline" value="{{ restaurant.friday_open }}">
                      Sulkeutuu: <input type="time" name="friday_close" class="form-control d-inline" value="{{ restaurant.friday_close }}">
                  </td>
              </tr>
              <tr>
                  <th class="info">Lauantai</th>
                  <td class="info">
                      Aukeaa: <input type="time" name="saturday_open" class="form-control d-inline" value="{{ restaurant.saturday_open }}">
                      Sulkeutuu: <input type="time" name="saturday_close" class="form-control d-inline" value="{{ restaurant.saturday_close }}">
                  </td>
              </tr>
              <tr>
                  <th class="info">Sunnuntai</th>
                  <td class="info">
                      Aukeaa: <input type="time" name="sunday_open" class="form-control d-inline" value="{{ restaurant.sunday_open }}">
                      Sulkeutuu: <input type="time" name="sunday_close" class="form-control d-inline" value="{{ restaurant.sunday_close }}">
                  </td>
              </tr>
          </table>
      </div>

      <div class="form-group-buttons">
        
        <button type="submit" name="remove" value="remove" class="btn btn-delete">Hylkää</button>
        <button type="submit" class="btn btn-primary" value="Hyväksy">Hyväksy</button>
      </div>
  </form>
</div>
</div>


<script>
  function check(form) {
    if (form.name.value.length >= 16 || form.name.value.length <= 2) {
      alert("Ravintolan nimen tulee olla 4-16 merkkiä pitkä");
      return false;
    }
    if (form.description.value.length < 8) {
      alert("Kuvauksen tulee sisältää ainakin 8 merkkiä");
      return false;
    }
    return true;
  }
</script>

{% endblock %}
