{%extends "layout.html"%}

{% block headline %}<h2>Tervetuloa</h2>{% endblock %}

{% block content %}
<h4>Viimeisimmät arvostelut:</h4>
<ul>
  {% for review in reviews %}
  <hr>
  <h3>{{review.name}}</h3>

    <h3> Arvio:
      {% for i in range(review.rating) %}
      &#9733;

      {% endfor %}
      {% for i in range(5-review.rating) %}
      &#9734;

      {% endfor %}
    </h3>
    <p>{{review.comment}}</p>
  {%endfor%}
</ul>

<h4>Favourites:</h4>
<ul>
{% for restaurant in favouriteRestaurants %}
<li key="restaurantusername">
  <a href="/restaurants/{{restaurant.id}}">{{restaurant.name}}</a>
</li>
{% endfor%}
</ul>

{% endblock %}
