/* Single restaurant site*/
.rating {
  display: flex;
  align-self: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 0.5rem;
  padding-bottom: 2rem;


}

.form-group-single-rest {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  padding: 40px;
  text-align: center;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.rating_form {
  align-items: left;
  background-color: #f5f5f5;
  display: block;
  width: 300%;
  min-width: 150%;


}

textarea.form-control {
  min-height: 10rem;
}

.review-rating {
  content: '⭐';
  color: #F75C03;
  font-size: 300%;
  flex: 2 2 0%;
  display: grid;
  place-content: center;
  cursor:auto;
  display: flex;
  align-self: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 0.5rem;
  padding-bottom: 2rem;
  
}

.sendReview {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.textAreas {
  display: flex;
  flex-direction: row;
  height: 15rem;
  width: 50%;
  padding: 0.5rem;
}

.rating>input {
  flex: 2 2 0%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.rating>input::before {
  content: '⭐';
  color: #F75C03;

  filter: grayscale(0%) contrast(0%);
  font-size: 300%;

}

.rating>input:checked::before,
.rating>input:checked~input::before {
  filter: unset;

}

/*Navbar*/

.container {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  height: 80%;
  max-width: 80%;
  max-height: 80% 
  
}
.container-request {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #3F6456;

}

.navbar,
.navbar-nav {
  background-color: #1F322B !important;
  min-height: 10%;
  max-height: 15%;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'New Century Schoolbook, TeX Gyre Schola, serif';

}

.navbar-brand {
  align-self: center;
  font-size: 2rem !important;

}

.nav-item {
  padding: 5px 10px;
  /* Padding for better spacing */

}

.nav-link,
.navbar-brand {
  font-family: 'New Century Schoolbook, TeX Gyre Schola, serif';

  color: #F75C03 !important;
  text-align: center;
  align-self: unset;
  min-width: fit-content;
  text-shadow: 3px 3px 6px rgba(70, 48, 48, 0.4);
  /* Slightly stronger shadow on hover */
  font-size: 1.2rem;
  /* Increase the text size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* Text shadow with slight blur */
  color: #FFFFFF;
  /* Text color */
  padding: 10px 10px;
  /* Padding for better spacing */


}

.navbar .nav-link:hover {
  color: #ff7f00 !important;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

/*restaurants*/



.restaraunt-create {
  max-width: 100%;
  align-self: center;
  width: 45%;
}



.form-inline {
  border-color: #ccc;
  border-radius: 20%;
  align-self: center;
  min-width: 30%;
}



hr {
  border-top: 2px solid #004d00;
}

footer {
  color: #004d00;
}

/* restaurant creation */
.form-group-creation {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: #F75C03;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Text shadow with slight blur */
  font-size: 1.5rem;
  max-height: fit-content;
  


}

.creation {
  min-width: 100% !important
}

.description {
  min-height: 200px;
}

.date {
  width: 200%;
  align-self: center;
}

.d-inline {

  color: #F75C03 !important;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Text shadow with slight blur */

}

/* Custom Colors */
.btn-primary,
.btn-warning {
  background-color: hsl(158, 23%, 16%);
  border-color: #426A5A;
  color: #ff7f00;
  font-size: 1.5rem;
}


.btn-edit {


  background-color: #d75600;
  border-color: #1F322B;
  color: #1F322B;
  font-size: 1.5rem;
}

.btn-delete {

  background-color: #A30000;
  border-color: #1F322B;
  color: #ff7f00;
  font-size: 1.5rem;
  padding-right: 20px;
}

.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-s.dropdown-toggle {
  color: #294239;
  background-color: #294239;
  border-color: #ff7f00;
}

.btn-primary:hover {
  background-color: #294239;
  border-color: #426A5A;
  color: #ff7f00;
  font-size: 1.5rem;
}

.btn-delete:hover {

  background-color: #d10505;
  border-color: #1F322B;
  color: #ff7f00;
  font-size: 1.5rem;
  padding-right: 20px;
}

.btn-edit:hover {

  background-color: #cd6a29;
  border-color: #1F322B;
  color: #1F322B;
  font-size: 1.5rem;
}




.btn-success:hover,
.btn-warning:hover {
  background-color: #ff7f00;
  border-color: #ff7f00;
}

.btn-success {
  background-color: #006400;
  border-color: #006400;
}

/* Padding for the whole page */
.container {
  padding: 20px 40px;
}

.scrollable-column {
  border-radius: 25px;

  max-height: 30%;
  overflow-y: auto;
  padding-bottom: 10px;
  min-height: 50em;

}
.row {
  height: 30rem;

}

.scrollable-column::-webkit-scrollbar {
  height: 8px;
}

.scrollable-column::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* Card adjustments */
.card {

  border-radius: 25px;
  margin-top: 20px;
  height: 8px;
  min-width: 250px;
  min-height: 200px;
  max-height: 200px;
  margin-right: 15px;
  overflow: hidden;


}

.card-body,
.card-text {
  text-overflow: ellipsis;
  font-size: 1.2 rem;
  color: #1F322B;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Text shadow with slight blur */



}

.card {
  border-color: #D2D4C8;
  background-color: #E8DDB5;
}

.card-title a {
  font-size: 2rem;
  color: #9e3b02;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Text shadow with slight blur */

}

.card-title a:hover {
  color: #F75C03 !important;
  /* Dark orange on hover */
}

.hours-open,
.th {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-collapse: collapse;
  border: #1F322B 0px solid;
}

.hours-row {}



.col-6-md {
  max-height: 100%;
  background-color: #004d00;
}

.default-title {
  font-size: 3.5rem !important;
  color: #F75C03 !important;
  text-align: center;
  align-self: unset;
  min-width: fit-content;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 10px 10px;
  font-family: 'New Century Schoolbook, TeX Gyre Schola, serif';

}
.subtitle {
  text-align: center;
}
.checkbox-group {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin: 5px 50px;


}

.checkbox {
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid #555;

  margin-left: 10px;

}

.form-group-login {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: #F75C03;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  max-height: fit-content;


}

.form-group {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 30rem;
  width: 30%;
  min-height: 20%;
  max-width: 30rem;

}

.form-group-buttons {
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  min-width: 30rem;
  min-height: 20%;
  max-width: 30rem;

}

.form-text {
  color: #F75C03;
}

.info {
  color: #F75C03 !important;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.access_link,
.access_link:hover {
  font-size: 1.5rem;
  color: #d95001;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}



.table-bordered td, .table-bordered th {
  border: 2px solid #F75C03;
  justify-content: flex-start;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

.table-bordered tbody  {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.table-bordered  {

  border: none;
}

.btn:not(:disabled):not(.disabled) {

  min-width: 10rem;
}

.review {
  min-width:fit-content;
  display: flex;
  flex-direction: column;
}

.start  {
  max-width: 70rem !important;
  max-height: 50%;
}

.review-text {
  overflow-y: auto;
  max-width: 30rem;
  max-height: 20rem;
  align-self: center;
  word-break:break-all;
  text-wrap: wrap !important;
}

.review-text-start {
  overflow-y: auto;
  max-height: 20rem;
  align-self: center;
  word-break:break-all;
  text-wrap: wrap !important;
}
.review-title-start {
  font-size: 2rem !important;
  color: #F75C03 !important;
  text-align: center;
  align-self: unset;
  min-width: fit-content;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 10px 10px;
  font-family: 'New Century Schoolbook, TeX Gyre Schola, serif';
}

.request-cards {
  max-width: 50%;
  align-self: center;
  min-width: 50%
}
.footer {

  position:fixed;
  left:0px;
  bottom:20px;
  height:30px;
  width:100%;
}

.error {
  display: flex;
  justify-content: center;
}

