/* Single restaurant site*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  width: 20%;
  min-width: 20%;
  padding: 0.5rem;
  padding-bottom: 2rem;
 

}

.rating_form {
  align-items: left;
  background-color: #f5f5f5;
  display: block;
  width: 300%;
  min-width: 150%;
  

}

.sendReview {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.textAreas {
  display: flex;
  flex-direction: row;
  height: 15rem;
  width: 50%;
  padding: 0.5rem;
}

.rating>input {
  flex: 2 2 0%;
  display: grid;
  place-content: center;
  cursor:pointer;
}

.rating > input::before {
  content: 'â­';
  filter: grayscale(0%) contrast(0%);
  font-size: 300%;

}

.rating>input:checked::before,
.rating>input:checked~input::before {
  filter: unset;

}

/*Navbar*/

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #3F6456;
  
}

 .navbar, .navbar-nav {
  background-color: #1F322B !important;
  min-height: 10%;
  max-height: 15%;
  display:flex;
  align-content: center;
  flex-direction: row;
  justify-content:space-evenly;
  font-family:'New Century Schoolbook, TeX Gyre Schola, serif';

}
.navbar-brand {
  align-self:center;
  font-size: 2rem !important; 

}

.nav-item {
    padding: 5px 10px; /* Padding for better spacing */

}
.nav-link,
.navbar-brand {
  font-family:'New Century Schoolbook, TeX Gyre Schola, serif';

  color: #F75C03 !important;
  text-align: center; 
  align-self:unset;
  min-width:fit-content;
  text-shadow: 3px 3px 6px rgba(70, 48, 48, 0.4); /* Slightly stronger shadow on hover */
  font-size: 1.2rem; /* Increase the text size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow with slight blur */
  color: #FFFFFF; /* Text color */
  padding: 10px 10px; /* Padding for better spacing */
  

}

.navbar .nav-link:hover {
  color: #ff7f00 !important;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

/*restaurants*/



.restaraunt-create {
  max-width: 100%;
  align-self: center;
  width: 45%;
}



.form-inline {
  border-color: #ccc;
  border-radius: 20%;
  align-self: center;
  min-width: 30%;
}



hr {
  border-top: 2px solid #004d00;
}

footer {
  color: #004d00;
}
  /* restaurant creation */
  .form-group-creation {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    color: #F75C03;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */
    font-size: 1.5rem;
    max-height: fit-content;
  
    
  }
.creation {
  min-width: 100% !important
}
.description{
  min-height: 200px;
}
.date {
  width: 200%;
  align-self: center;
}

.d-inline {

  color: #F75C03 !important;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */

}

 /* Custom Colors */
 .btn-primary, .btn-warning {
  background-color: #1F322B;
  border-color: #426A5A;
  color: #ff7f00;
  font-size: 1.5rem;
}

.btn-primary:hover {
  background-color: #294239;
  border-color: #426A5A;
  color: #ff7f00;
  font-size: 1.5rem;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #294239;
  border-color: #ff7f00;
}
.btn-success,
.btn-warning {
  background-color: #ffa500;
  border-color: #ffa500;
  color: white;
}

.btn-success:hover,
.btn-warning:hover {
  background-color: #ff7f00;
  border-color: #ff7f00;
}
.btn-success {
  background-color: #006400; 
  border-color: #006400;
}
/* Padding for the whole page */
.container {
  padding: 20px 40px;
}
.scrollable-column {
  border-radius: 25px;

  max-height: 30%;
  overflow-y: auto;
  padding-bottom: 10px;

}
.scrollable-column::-webkit-scrollbar {
  height: 8px;
}
.scrollable-column::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
/* Card adjustments */
.card {
  
  border-radius: 25px;
  margin-top: 20px;  
  height: 8px;
  min-width: 250px;
  min-height: 200px;
  max-height: 200px;
  margin-right: 15px;
  overflow:hidden;
  

}
.card-body, .card-text {
  text-overflow: ellipsis;
  font-size: 1.2  rem;
    color: #1F322B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */

  
  
}

.card {
  border-color: #D2D4C8;
  background-color: #E8DDB5;
}

.card-title a {
  font-size: 2rem;
    color: #9e3b02;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */

}

.card-title a:hover {
  color: #F75C03 !important;
  /* Dark orange on hover */
}
.hours-open, .th{
  display: flex;
  flex-direction: column;
  align-content: center;
  border-collapse: collapse;
  border: #1F322B 0px solid;
}

.hours-row {
  
}



.col-6-md {
  max-height: 100%;
  background-color: #004d00;
}

.default-title {
  font-size: 3.5rem !important; 
  color: #F75C03 !important;
  text-align: center; 
  align-self:unset;
  min-width:fit-content;
  font-size: 1.2rem; /* Increase the text size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */
  color: #FFFFFF; /* Text color */
  padding: 10px 10px; /* Padding for better spacing */
  font-family:'New Century Schoolbook, TeX Gyre Schola, serif';

}

.checkbox-group {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin: 5px 50px;
  
 
}

.checkbox {
  width:30px;
  height:30px;
  background:white;
  border:2px solid #555;

  margin-left: 10px;

}

/* Login */
.form-group-login {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: #F75C03;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */
  font-size: 1.5rem;
  max-height: fit-content;

  
}

.form-group {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 50%;
  width: 30%;
  max-width: 50%;
  
}

.form-text{
    color: #F75C03;
}

.info {
  color: #F75C03 !important;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */

}

.access_link, .access_link:hover {
    font-size: 1.5rem;
    color: #d95001;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow with slight blur */

    
}
